DJANGO_SECRET_KEY=dev-only-change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
DJANGO_SECURE_PROXY_SSL_HEADER=False
POSTGRES_DB=b2b_directory
POSTGRES_USER=b2b_user
POSTGRES_PASSWORD=b2b_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432